@import "../../assets/styles/variables";

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: $primary-black;

  img {
    max-height: 50px;
  }

  .actionBlock {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
}
