@import "../../assets/styles/variables";

.navbar {
  background: $primary-black;
  display: grid;
  grid-auto-rows: 70px max-content;
}

.toggleBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  margin: 20px 20px 20px auto;
}

.toggleLine {
  background: $white;
  height: 3px;
  width: 30px;
}

.links {
  display: flex;
  flex-direction: column;
}

.active {
  color: $white !important;
}
