@import "./src/assets/styles/variables";

.dropdown {
  border-right: 1px solid $border-grey-color;
  border-left: 1px solid $border-grey-color;
  width: 150px;
  height: 100%;
  position: relative;

  .value {
    color: $font-color;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary-black;
    height: 100%;
    cursor: pointer;
  }

  .options {
    position: absolute;
    width: 100%;
    background: $secondary-black;
    border-radius: 5px;
    border: 1px solid $border-grey-color;
    transition: $transition;
    display: block;
  }

  .optionsHide {
    display: none;
  }

  .optionItem {
    font-size: 18px;
    color: $font-color;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid $border-grey-color;
    transition: $transition;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: $hover-black;
    }
  }
}
