@import "./assets/styles/main";
@import "./assets/styles/variables";

.app, .appFull {
  background: url('./assets/img/background.jpeg');
  background-size: cover;
  height: 100vh;
  display: grid;
  transition: $transition;
}

.app {
  grid-template-columns: 1fr 7fr;
}

.appFull{
  grid-template-columns: 0fr 8fr;
}


